=link_to "http://google.co.jp/", class:"wrapper__chat-side__groups__link", id: "" do
  .wrapper__chat-side__groups__link__group
    %p.wrapper__chat-side__groups__link__group__group-name
      グループ名
    %p.wrapper__chat-side__groups__link__group__last-message
      最新メッセージ
=link_to "http://google.co.jp/", class:"wrapper__chat-side__groups__link", id: "" do
  .wrapper__chat-side__groups__link__group
    %p.wrapper__chat-side__groups__link__group__group-name
      グループ名
    %p.wrapper__chat-side__groups__link__group__last-message
      最新メッセージ
=link_to "http://google.co.jp/", class:"wrapper__chat-side__groups__link", id: "" do
  .wrapper__chat-side__groups__link__group
    %p.wrapper__chat-side__groups__link__group__group-name
      グループ名
    %p.wrapper__chat-side__groups__link__group__last-message
      最新メッセージ
=link_to "http://google.co.jp/", class:"wrapper__chat-side__groups__link", id: "" do
  .wrapper__chat-side__groups__link__group
    %p.wrapper__chat-side__groups__link__group__group-name
      グループ名
    %p.wrapper__chat-side__groups__link__group__last-message
      最新メッセージ