.wrapper__chat-main__messages__message{id: ""}
  .wrapper__chat-main__messages__message__upper-info
    %p.wrapper__chat-main__messages__message__upper-info__talker
      発信者
    %p.wrapper__chat-main__messages__message__upper-info__date
      2019/10/26(Sat) 17:55:00
  %p.wrapper__chat-main__messages__message__text
    テキスト
.wrapper__chat-main__messages__message{id: ""}
  .wrapper__chat-main__messages__message__upper-info
    %p.wrapper__chat-main__messages__message__upper-info__talker
      発信者
    %p.wrapper__chat-main__messages__message__upper-info__date
      2019/10/26(Sat) 17:57:30
  %p.wrapper__chat-main__messages__message__text
    テキスト
.wrapper__chat-main__messages__message{id: ""}
  .wrapper__chat-main__messages__message__upper-info
    %p.wrapper__chat-main__messages__message__upper-info__talker
      発信者
    %p.wrapper__chat-main__messages__message__upper-info__date
      2019/10/26(Sat) 18:00:00
  %p.wrapper__chat-main__messages__message__text
    テキスト